.reminder {
  color: #fff;
  position: relative;
  font-size: 12px;
  padding: 3px 5px;
  margin-bottom:3px;
  text-align: end; 

  &:hover {
    .tools {
      visibility: visible;
    }
  }

  strong {
    display: block;
    font-size: 14px;
  }

  .tools {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    padding: 5px 3px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    button {
      float: right;

      .fas {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}