html {
  box-sizing: border-box;
}

*, 
*:befor,
*:after {
  box-sizing: inherit;
}

body {
  padding: 15px;
  font-family: 'Merriweather Sans', 'Fira Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: cyan;
  // background: linear-gradient(
  //   to right top,
  //   #051937,
  //   #004d7a,
  //   #008793,
  //   #24c0ce,
  //   #4ee9f7
  // ) no-repeat;
  background-attachment: fixed;
} 

button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}